*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: lemonchiffon;

}

.calculator-grid{
     display: grid;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     grid-template-columns: repeat(4, 100px);
     grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: mediumseagreen;
}
.calculator-grid > button:hover {
    background-color: magenta;
}

.span-two{
    grid-column: span 2;
}

.output{
     grid-column: 1 / -1;                    /*this style ensures that the output grid spans the whole row; from end to end */
    background-color: darkgray;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output .previous-operand{
    color:gray;
    font-size: 1.5rem ;
}
 

.output .current-operand{
    color:green;
    font-size: 2.5rem ;
}